// Grid

.booking-detail-layout,
.booking-list-layout {
  @extend %template-row;

  > div {
    > div {
      > * {
        @include make-col($sm: 8, $md: 9);

        &:first-child {
          @include make-col($sm: 4, $md: 3);
        }
      } // Col(s)
    } // Row
  } // Container
}

// List and hotel layout
.booking-list-layout {
  @include space(padding, $template-space / 2);

  @include mq('phone') {
    &,
    > div {
      padding: 0;
    }

    > div {
      > div {
        @include space(margin, $horizontal: 0);

        > * {
          &,
          &:first-child {
            @include space(padding, $horizontal: 0);
          }
        } // Col(s)
      } // Row
    } // Container
  }

  @include mq('md', 'xl', 'only screen', 'portrait') {
    > div {
      > div {
        > * {
          &:last-child {
            padding-left: 0;
          }
        } // Col(s)
      } // Row
    } // Container
  }
}

// Payment step layout
.booking-detail-layout {
  padding-top: 0;

  > div {
    > div {
      > * {
        @include order-col($sm: -4, $md: -3);

        &:first-child {
          @include order-col($sm: 8, $md: 9);
        }
      } // Col(s)
    } // Row
  } // Container

  @include mq('tablet') {
    padding-top: $component-space-tiny;

    > div {
      > div {
        > * {
          right: 40%;
          width: 60%;

          &:first-child {
            left: 60%;
            width: 40%;
          }
        } // Col(s)
      } // Row
    } // Container
  }

  @include mq('only-tablet') {
    > div {
      > div {
        > * {
          &:first-child {
            padding-left: 0;
          }
        } // Col(s)
      } // Row
    } // Container
  }
}
