// Panels

.panel {
  padding: $component-space-small;
  box-shadow: $panel-border;

  & + * {
    margin-top: $component-space;
  }
}

.section {
  background-color: $section-color;
}

.panel.section {
  box-shadow: none;
}

// Spacers todo: refactor this

.smallest {
  @include space(padding, 0);
}

.smaller {
  @include space(padding, $template-space / 2);
}

.larger {
  @include space(padding, $template-space * 1.5);
}

.largest {
  @include space(padding, $template-space * 2);
}
