// Layout

body {
  &.is-locked {
    @include fixed(0, 0, 0, 0);
  }
}

.body {
  @if ($body-wrapper-container) {
    @include make-container;
  }
}

@include mq('phone') {
  .open-nav-panel,
  .open-nav-left,
  .open-nav-right {
    overflow: hidden;
    height: 100%;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;

    .body {
      position: fixed;
      height: 100%;
      width: 100%;
    }
  }

  .body {
    @include transition($header-nav-responsive-open-time linear, true);

    .open-nav-left & {
      @include translate(percentage($header-nav-responsive-open-width / 100), 0);
    }

    .open-nav-right & {
      @include translate(-(percentage($header-nav-responsive-open-width / 100)), 0);
    }
  } // Navigation layout transitions (openning/closing)
}

.open-nav-modal {
  overflow: hidden;
}

main {
  min-height: 75vh;

  @include mq('phone') {
    padding-top: $header-height-mobile; // offset space (fixed header position)
  }
}
