/// Tooltip

.tooltip {
  display: inline-block;
  position: relative;

  &-content {
    display: inline-block;
    @include absolute(auto, auto, auto, auto);
    overflow-y: auto;
    z-index: $zindex-tooltip;
    visibility: hidden;
    opacity: 0;
    transition: $tooltip-transition;
    height: 0;

    max-width: 90vw;
    max-height: 90vh;
    padding: $tooltip-space;
    border-radius: $tooltip-radius;
    border: 0;
    box-shadow: $tooltip-border;
    background-color: $tooltip-background;
    text-align: left;

    .tooltip-left & {
      right: 0;
      left: auto;
    }

    .tooltip-right & {
      right: auto;
      left: 0;
    }

    @include mq('phone') {
      min-width: 75vw;
      margin-left: -100%;
    }

    @include mq('tablet') {
      min-width: 35vw;
    }

    @include mq('desktop') {
      min-width: 25vw;
    }
  }

  &:hover,
  &:active {
    .tooltip-content {
      visibility: visible;
      opacity: 1;
      height: auto;
      cursor: default;

      @media (pointer: coarse) {
        animation-name: tooltipOut;
        animation-duration: 10s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
    }
  }
}

@include keyframes(tooltipOut) {
  0% {
    opacity: 1;
    display: block;
  }

  75% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@include keyframes(translateInFromLeft) {
  0% {
    opacity: 0;
    transform: translateX(-10vw) scale(.5);
  }

  35% {
    opacity: .1;
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}