// "Go to top" link

.top-link {
  @include fixed($bottom: $top-link-position-bottom, $right: $top-link-position-right);
  z-index: $zindex-popover;
  padding: $top-link-space;
  border-radius: $top-link-radius;

  @include make-icon($top-link-icon) {
    @include font-size($top-link-size);
  };

  color: $top-link-color;
  background-color: $top-link-background-color;
  border: $top-link-border;

  @include fade($top-link-transition, 'in');

  &:hover,
  &:focus,
  &:active {
    color: $top-link-hover-color;
    background-color: $top-link-hover-background-color;
    border: $top-link-hover-border;
  }

  &:hover {
    cursor: pointer;
  }
}
