// Debug helpers

@if ($ENVIRONMENT == 'dev') {
  %ilu1 { box-shadow: inset 0 0 1px #000; }
  %ilu2 { box-shadow: inset 0 0 1px #00f !important; }
  %ilu3 { box-shadow: inset 0 0 1px #0c0 !important; }
  %ilu4 { box-shadow: inset 0 0 1px #f60 !important; }
  %ilu5 { box-shadow: inset 0 0 1px #f0f !important; }
  %ilu6 { outline: 1px solid rgba(255, 0, 255, 0.3) !important; }
  %ilu7 { box-shadow: inset 0 0 1px #ccc !important; background-color: #fefefe !important; }

  .debug {
    * { @extend %ilu1; }

    div { @extend %ilu2; }
    header { @extend %ilu2; }
    footer { @extend %ilu2; }
    article { @extend %ilu2; }
    section { @extend %ilu2; }
    nav { @extend %ilu2; }
    fieldset { @extend %ilu2; }

    h1, h2, h3, h4, h5, h6 { @extend %ilu3; }
    p { @extend %ilu3; }
    form { @extend %ilu3; }
    ul { @extend %ilu3; }
    ol { @extend %ilu3; }

    li { @extend %ilu4;}
    figure { @extend %ilu4; }
    legend { @extend %ilu4; }
    label { @extend %ilu4; }
    input { @extend %ilu4; }
    select { @extend %ilu4; }
    textarea { @extend %ilu4; }

    span { @extend %ilu5; }
    a { @extend %ilu5; }
    strong { @extend %ilu5; }
    em { @extend %ilu5; }

    img { @extend %ilu6; }

    :before { @extend %ilu7; }
    :after { @extend %ilu7; }
  }
}