// Reset

@at-root {
  @-ms-viewport {
    width: device-width;
  }
} // IE10+ doesn't honor `<meta name="viewport">` in some cases.

* {
  &,
  &:before,
  &:after {
    @include box-sizing(border-box);
  }
} // Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.

html {
  font-family: sans-serif; // Change the default font family in all browsers.
  font-size: $default-font-size;
  line-height: 1.15; // Correct the line height in all browsers.
  -webkit-text-size-adjust: 100%; // Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(#000, 0); // Change the default tap highlight to be completely transparent in iOS.
}

body {
  text-align: left;
  font-family: $default-font-family;
  line-height: $default-line-height-base;
  @include make-typo('default-text');

  color: $default-text-color;
  background-color: $body-color;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

header, footer, nav, main, section, article, aside, hgroup, figure, figcaption {
  display: block;
}

body,
h1, h2, h3, h4, h5, h6, hr,
p, pre, span,
ul, ol, li,
form, fieldset, legend, label,
address {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  @include font-size($default-text-size);
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
  background-color: transparent; // Remove the gray background on active links in IE 10.
  -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.

  &:hover,
  &:focus,
  &:active {
    outline: 0;

    @if ($link-transition) {
      @include transition($link-transition);
    }
  }

  &:hover {
    color: inherit;
    text-decoration: inherit;
  }

  &:active {
    opacity: $link-active-opacity;
  }

  &:focus {
    opacity: $link-focus-opacity;
  }

  &:not([href]) {
    &:hover {
      cursor: pointer;
    }
  }
}

pre {
  overflow: auto; // Don't allow content to break outside
  -ms-overflow-style: scrollbar; // We have @viewport set which causes scrollbars to overlap content in IE11 and Edge, so we force a non-overlapping, non-auto-hiding scrollbar to counteract.
}

b,
strong {
  font-weight: bolder;
}

small {
  @include font-size($secondary-text-size);
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  @include font-size(75%);
  line-height: 0;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

pre,
code,
kbd,
samp {
  font-family: $default-font-monospace;
  @include font-size($default-text-size); // Correct the odd `em` font sizing in all browsers.
}

figure {
  margin: 0 0 1rem; // Apply a consistent margin strategy (matches our type styles).
}

img {
  vertical-align: middle;
  border-style: none; // Remove the border on images inside links in IE 10-.
}

svg:not(:root) {
  overflow: hidden; // Hide the overflow in IE
}

table {
  border-collapse: collapse; // Prevent double borders
}

caption {
  padding-top: $table-cell-padding;
  padding-bottom: $table-cell-padding;
  color: inherit;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
} // Matches default `<td>` alignment by inheriting from the `<body>`, or the closest parent with a set `text-align`.

fieldset {
  min-width: 0;
  border: 0;
} // See https://github.com/twbs/bootstrap/issues/12359 and https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements

legend {
  display: block;
  width: 100%;
  max-width: 100%; // Correct the text wrapping in Edge and IE.
  font-size: inherit;
  line-height: inherit;
  color: inherit; // Correct the color inheritance from `fieldset` elements in IE.
  white-space: normal;
}

label {
  display: inline-block;
} // Allow labels to use `margin` for spacing.

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
} // Remove the margin in Firefox and Safari

button,
input {
  overflow: visible;
} // Show the overflow in Edge

button,
select {
  text-transform: none;
} // Remove the inheritance of text transform in Firefox

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // Correct the inability to style clickable types in iOS and Safari.
} // Prevent a WebKit bug where destroys native `audio` and `video` controls in Android 4.

button {
  border-radius: 0;

  &:focus {
    outline: 0;
  }
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
} // Remove inner border and padding from Firefox, but don't restore the outline like Normalize.

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box; // Add the correct box sizing in IE 10-
  padding: 0; // Remove the padding in IE 10-
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
} // See https://bugs.webkit.org/show_bug.cgi?id=139848 and https://github.com/twbs/bootstrap/issues/11266

textarea {
  overflow: auto; // Remove the default vertical scrollbar in IE.
  resize: vertical; // Textareas should really only resize vertically so they don't break their (horizontal) containers.
}

progress {
  vertical-align: baseline; // Add the correct vertical alignment in Chrome, Firefox, and Opera.
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; // Correct the cursor style of increment and decrement buttons in Chrome.
}

[type="search"] {
  outline-offset: -2px; // Correct the outline style in Safari.
  -webkit-appearance: none;
} // https://github.com/twbs/bootstrap/issues/11586.

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit; // Change font properties to `inherit` in Safari.
  -webkit-appearance: button; // Correct the inability to style clickable types in iOS and Safari.
}

hr {
  overflow: visible;
  box-sizing: content-box;
  width: 100%;
  height: 0;

  margin: $title-space 0;
  border: 1px solid $default-border-color;
}

address {
  font-style: normal;
}

output {
  display: inline-block;
}

summary {
  display: list-item; // Add the correct display in all browsers
  cursor: pointer;
}

template {
  display: none; // Add the correct display in IE
}

[tabindex="-1"]:focus {
  outline: 0 !important;
} // https://github.com/suitcss/base

[hidden] {
  display: none !important; // Needed for proper display in IE 10-.
} // Always hide an element with the `hidden` HTML attribute (from PureCSS).
