// Effects

/// Fade
@mixin fade($transition, $class: 'active') {
  height: 0;
  visibility: hidden;
  @include opacity(0);
  @include transition($transition);
  
  &.#{$class} {
    height: auto;
    visibility: visible;
    @include opacity(1);
  }
}

// Simple fade
@mixin fadeMe($duration: .3s, $easing: ease-in, $direction: normal) {
  @include animation(fadeMeAnim $duration $easing $direction forwards);
}