// Misc helpers

/// Triangle factory for tooltips
@mixin triangle($dir, $color, $size) {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  content: '';

  border-width: $size;
  border-style: solid;
  border-color: transparent;

  @if ($dir == 'top' or $dir == 'up') {
    border-bottom-color: $color;
  } @else if ($dir == 'right' or $dir == 'after') {
    border-left-color: $color;
  } @else if ($dir == 'bottom' or $dir == 'down') {
    border-top-color: $color;
  } @else if ($dir == 'left' or $dir == 'before') {
    border-right-color: $color;
  }

  @content;
}

/// Add ellipsis to text
@mixin ellipsis($width: 100%) {
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/// Add border divisor
@mixin has-divisor($direction: top, $style: solid, $color: $default-border-color){
  border-#{$direction}: 1px $style $color;
}

/// Add locker element with :after to prevent actions over it when incremental load is active
@mixin click-locker($color: #fff, $alpha: 0.8) {
  &:after {
    content: '';
    display: block;
    background: unquote('rgb(')red($color), green($color), blue($color)unquote(')');
    background: rgba($color, $alpha);
    @include absolute(0, 0, 0, 0);
    z-index: 1;

    @content;
  }
}