{% extends '@templates/base.html.twig' %}

{% block stylesheets %}
    <link href="/assets/elisayfran2019.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="/assets/elisayfran2019.js"></script>
{% endblock %}

{% block body %}
    <header class="cover cover-full">
        <div class="cover-image"
             data-script="cover"
             data-image="/assets/cover.jpg|/assets/cover.jpg"></div>

        <div class="cover-header">
            <h1 class="cover-header--title text-center">

            </h1>
        </div>
    </header>

    <nav class="logo">
        <img src="/assets/logo.png"
             alt="">
    </nav>

    <section class="one-column article-column">
        <div>
            <article class="text">
                <h2>Horario</h2>
                <p>La boda será en la iglesia del balneario a las 17:30h del día 6 de Julio de 2019.</p>
                <p>Por favor, intentar estar a las 17:15h.</p>
            </article>
        </div>
    </section>

    <section class="two-columns article-column section">
        <div>
            <div>
                <div>
                    <article class="text">
                        <h2>¿Cómo reservar?</h2>
                        <p>Los que no conozcáis el balneario, tenéis que saber que el entorno es precioso, pero es muy recomendable hacer noche allí, ya que la boda es de tarde y la carretera puede ser peligrosa por la noche. El balneario tiene hotel y camas suficientes para todos los invitados y están bloqueadas hasta 15 días antes de la boda.</p>
                        <p>Las tarifas son:</p>
                        <ul>
                            <li>Habitación doble: <strong>80 euros</strong></li>
                            <li>Habitación individual: <strong>55 euros</strong></li>
                            <li>Cama supletoria: <strong>30 euros</strong></li>
                        </ul>
                        <p>Para animaros el balneario tiene spa y nos hacen precio especial de 18 euros por persona.</p>
                        <p>Los datos de contacto son:</p>
                        <ul>
                            <li>Teléfono: <a href="tel:+34974487161">(+34) 974 487 161</a></li>
                            <li>Correo electrónico: <a href="mailto:centraldereservas@panticosa.com">centraldereservas@panticosa.com</a></li>
                        </ul>
                        <p>Al reservar indicar que es para la boda de Elisa y Fran para que os apliquen el precio.</p>
                    </article>
                </div>
                <div>
                    <article class="text">
                        <h2>¿Cómo llegar?</h2>
                        <p>Resort Balneario Panticosa, está situado en pleno Pirineo Oscense, muy cerca del pueblo de Panticosa (8 km) y de las estaciones de esquí de Formigal y Panticosa.</p>
                        <h3>Por carretera</h3>
                        <p>Desde la ciudad de Huesca, se debe tomar la N-330 con destino Sabiñánigo.</p>
                        <p>Saliendo de esta localidad continuar por la N-260 en dirección Biescas, y una vez allí seguir por la A-136 hasta tomar el desvío a Panticosa.</p>
                        <p>La carretera A-2606, que pasa junto al pueblo de Panticosa, conduce directamente hasta el resort.</p>
                        <h3>Avión</h3>
                        <p>Los aeropuertos más cercanos son el de <strong>Pau</strong> (en Francia) y <strong>Zaragoza</strong>, a 94 y 168 km. respectivamente.</p>
                        <h3>Ferrocarril</h3>
                        <p>La línea de AVE que comunica Madrid y Barcelona tiene parada en la estación de <strong>Zaragoza - Delicias</strong> y <strong>Huesca</strong>.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section class="one-column article-column">
        <div>
            <div class="row">
                <div class="col-sm-12 text">
                    <h2>Actividades</h2>
                    <p>Existen varias actividades que se pueden realizar cerca del balneario de panticosa, desde excursiones de día a largas travesías, incluyendo la visita a pueblos preciosos y actividades de aventura, sin olvidar la gastronomía.</p>
                </div>
                <div class="col-sm-6 text">
                    <h3>Senderismo:</h3>
                    <ul>
                        <li><strong>Refugio Casa De Piedra - Ibones Azules</strong>: 6 horas sin paradas. Esta ruta es de nivel de dificultad medio y se puede realizar desde el mismo Balneario de Panticosa.</li>
                        <li><strong>Cola de Caballo</strong> por las gradas de Soaso: la ruta más popular del valle de Ordesa: desde la pradera de Ordesa hasta la Cola de Caballo</li>
                        <li><strong>Refugio Respomuso</strong> desde embalse de La Sarra: de nivel intermedio; la vista de los ibones merece la pena.</li>
                    </ul>
                </div>
                <div class="col-sm-6 text">
                    <h3>Actividades</h3>
                    <ul>
                        <li><strong>Tirolina Valle de Tena</strong>: la tirolina más larga de europa con 1 km de longitud atravesando el pantano de bubal.</li>
                        <li><strong>Lacuniacha</strong>, Parque Faunístico de los Pirineos: actividad para los más peques, donde en un recorrido de 2-3h se puede recorrer el hábitat de especies como el lince o el sarrio.
                        </li>
                        <li><strong>Estación de Canfranc</strong>: esta antigua estación es una de las vistas más bonitas que hay en el Pirineo.</li>
                    </ul>
                </div>
                <div class="col-sm-12 text">
                    <p>En los siguientes link podréis obtener más información sobre las actividades que se pueden realizar tanto en el valle de tena como en el valle del Aragón.</p>
                    <ul>
                        <li><a href="http://www.valledetena.com/es/cosas-que-hacer" target="_blank">Valle de Tena: cosas que hacer</a></li>
                        <li><a href="http://www.valledelaragon.com/turismo-propuestas.php?id_idea=17" target="_blank">Valle del Aragón: propuestas</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <footer class="one-column article-column section">
        <div>
            <div class="row">
                <div class="col-sm-6 text">
                    <h2>Contactar</h2>
                </div>
                <div class="col-sm-6 text">
                    <h3>Resort Balneario Panticosa:</h3>
                    <address>
                        <p>Carretera del Balneario, km. 10 <br>22661. Huesca (España)</p>
                        <p>Teléfono: <a href="tel:+34974487161">(+34) 974 487 161</a></p>
                        <p><a href="mailto:centraldereservas@panticosa.com">centraldereservas@panticosa.com</a></p>
                        <p><a href="http://www.panticosa.com" target="_blank">http://www.panticosa.com</a></p>
                    </address>
                </div>
                <div class="col-sm-6 text">
                    <h3>Elisa:</h3>
                    <ul>
                        <li><a href="mailto:elisa_sk@hotmail.com">elisa_sk@hotmail.com</a></li>
                        <li><a href="tel:678010870">678 010 870</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 text">
                    <h3>Fran:</h3>
                    <ul>
                        <li><a href="mailto:fmerinodomingo@gmail.com">fmerinodomingo@gmail.com</a></li>
                        <li><a href="tel:654650430">654 650 430</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div class="contact-image">
        <img src="/assets/contact.jpg" alt="">
    </div>

    <a href="#"
       class="top-link"
       data-script="top">
        <span class="sr-only">
            &uarr;
        </span>
    </a>
{% endblock %}
